{% extends "layout.html" %}
{% block content %}
<nav class= "navbar navbar-expand-md navbar-dark bg-dark">
			<a class = "navbar-brand" href="{{ url_for('home') }}">Movie Review</a>
		<div class = "navbar-collapse collapse" id = "navbar-items">
			<ul class = "navbar-nav mr-auto">
				<li class= "nav-item"><a class="nav-link" href="{{ url_for('home') }}">Home</a></li>
				<li class= "nav-item"><a class="nav-link" href="{{ url_for('list') }}">List reviews</a></li>
				<li class= "nav-item"><a class="nav-link" href="{{ url_for('add') }}">Submit a review</a></li>
				<li class = "nav-item active"><a class="nav-link" href="{{ url_for('upload_photo') }}">Upload a photo</a></li>
			</ul>
		</div>	
</nav>
<h2 class="container" align="center">Upload a Photo</h2>
<form action="{{ url_for('upload_photo') }}" method="post" enctype="multipart/form-data">
	<br>Upload File: <input type="file" name="file"><br>
	<input type="submit" name="submit" value="Submit">
</form>
		

{% endblock %}
